body {
  color: #005f87;
  background: #000000;
  font-family: "DejaVuSansMono NF", Helvetica, monospace;
}

.article{$
  text-align: left;
  padding: 2%;
  border-style: solid;
  position: relative;
  white-space: -moz-pre-wrap !important;
  color: #005f87;
  background: #000000;
  font-family: "DejaVuSansMono NF", Helvetica, monospace;
  overflow-wrap: break-word;
  float: left;
  /* width: 78%; */
  width: 95%;
}

a {
  color: #005f87;
  text-decoration: none;
}

hr {
  color: #005f87;
}

.left-footer {
  float: left;
}

.right-footer {
  float: right;
}
