body {
  font-family: "DejaVuSansMono NF", Helvetica, monospace;
  height: 95vh;
  width: 95vw;
}

pre,textarea,code {
  direction: rtl;
  overflow-wrap: break-word;
  caret-color: green;
  white-space: pre-wrap;
}

.editor {
  background: #000000;
  color: #ffffff;
  width: 50%;
  max-width: 50%;
  height: 95%;
  max-height: 50%;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 0;
  top: 0;
}

.left {
  left: 0;
  background-color: #000000;
  color: #ffffff;
}

.right {
  right: 0;
  background-color: #000000;
  color: #ffffff;
}

#editor, #highight, #highlight * {
  font-size: 13pt;
  font-family: monospace;
  line-height: 15pt;
  tab-size: 2;
}

#editor, #highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 50%;
  height: 100%;
  max-height: 100%;
}

#editor {
  z-index: 1;
  color: transparent;
  background: transparent;
  caret-color: green;
  resize: none;
}

#highlight {
  background: #000000;
  z-index: 0;
}
