body {
  color: #005f87;
  background: #000000;
  font-family: "DejaVuSansMono NF", Helvetica, monospace;
  height: 95vh;
  width: 95vw;
}

a {
  color: #005f87;
  text-decoration: none;
}

hr {
  color: #005f87;
}

.left-footer {
  float: left;
}

.right-footer {
  float: right;
}

.editor {
  background: #000000;
  color: #ffffff;
  width: 40%;
  max-width: 40%;
  height: 90%;
  max-height: 90%;
}

div.code {
  white-space: pre;
}
